.b-log-panel__button {
    color: #333;
    display: block;
    font: 14px/18px Myriad Pro,Arial,Tahoma,sans-serif;
    padding: 6px 14px 6px 15px;
    text-align: center;
    border: 1px solid #ccc;
    background: rgb(241,241,241); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(241,241,241,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,241,241,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.b-log-panel__button:HOVER {
    color: #000;
}