.h-grid {
    letter-spacing:-0.31em;
    word-spacing:-0.43em;
}

.h-unit {
    vertical-align: top;
}

.h-unit, .b-icon {
    display: inline-block;
    letter-spacing:normal;
    word-spacing:normal;
}